<!DOCTYPE html>
<html lang="en">
 <!-- Head -->
 <%- include ("../partials/head") %> 

 <link rel="stylesheet" href="/css/catalogue.css">
 
 <body>
 <!-- Header -->
 <%- include ("../partials/header") %> 
   
   <!-- Barra Navegacion -->
 <%- include("../partials/nav") %> 
  <!-- Contenido slider -->
  <main class="main">
    <section class="section">
        <h3>Catalogue</h3>
        <section class="articulos1">
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/article/chaleco-cuadrille.jpeg" alt="Chaleco cuadrillé">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h4>Detail</h4>
                </a> 
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$6.770</span>
                            <span class="discount">40% off</span>
                        </div>
                    <p class="description">Chaleco cuadrillé</p>
                </div>                           
            </article>
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/article/chaleco-cuadriculado.jpeg" alt="Chaleco cuadriculado">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h4>Detail</h4>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1500</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Chaleco cuadriculado</p>
                </div>                           
            </article>
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/article/polera-gris.jpeg" alt="Polera">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h4>Detail</h4>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1000</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Polera</p>
                </div>                           
            </article>
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/article/remera-aro.jpeg" alt="Remera Demie">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h4>Detail</h4>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1000</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Remera Demie</p>
                </div>                           
            </article>
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/article/saco-marron.jpeg" alt="Saco">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h4>Detail</h4>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$2000</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Saco</p>
                </div>                           
            </article>      
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/article/buzo-oxford.jpeg" alt="Buzo Oxford">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h4>Detail</h4>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1500</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Buzo Oxford</p>
                </div>                           
            </article>   
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/article/chaleco-tejido.jpeg" alt="Chaleco Tejido">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h4>Detail</h4>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1800</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Chaleco Tejido</p>
                </div>                           
            </article>   
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/article/remera-mangalarga.jpeg" alt="Remera morley">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h4>Detail</h4>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1000</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Remera morley</p>
                </div>                           
            </article>      
    </section>
</main>
<!-- Footer -->
  <%- include ("../partials/footer") %>
</body> 
</html>