<!DOCTYPE html>
<html lang="en">
 <!-- Head -->
<%- include ("partials/head") %> 

<link rel="stylesheet" href="/css/home.css">

<body>
<!-- Header -->
<%- include ("partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("partials/nav") %> 

  <!-- Contenido slider -->
<main>
  <div class="main">
    <section class="slide1">
          <article class="left-div">
              <div>
              <img src="/img/00_Home.jpg" alt="Foto Fashion temporada">
              </div>
          </article>
          <article class="right-div">
            <p class="line1"> SUMMER </p>
            <P class="line2">Beat the Summer with Style</p>
            <hr>
            <p class="line3"><a href="/productDetail"> SHOP GIRL </a></p>
          </article>
    </section>

    <section class="slide2">
      <article class="rigth-div">
          <div>
          <img src="/img/pexels-rfstudio-3811981.jpg" alt="Foto Fashion temporada">
          </div>
      </article>
      <article class="left-div">
        <p class="line1"> CLASSICS </p>
        <P class="line2"> Old School Vibe </p>
        <hr>
        <p class="line3"><a href="/productDetail"> SHOP GIRL </a></p>
      </article>
    </section>
    <section class="slide2">
      <article class="right-div2">
        <p class="line1"> CLASSICS </p>
        <P class="line2"> Old School Vibe </p>
        <div class="container2">
          <ul class="menu2">
            <li>
              <a href="#slide6"></a>
            </li>
            <li>
              <a href="#slide7"></a>
            </li>
            <li>
              <a href="#slide8"></a>
            </li>
          </ul>
          <ul class="slider2">
            <li id="slide6">
              <img src="/img/home/pexels-harsh-kushwaha-1721558.jpg"/>
            </li>
            <li id="slide7">
              <img src="/img/home/pexels-anna-shvets-4672246.jpg"/>
            </li>
            <li id="slide8">
              <img src="/img/home/pexels-neemias-seara-3612264.jpg"/>
            </li>
          </ul>
        </div>
      </article>
      <article class="left-div">
        <div>
          <img src="/img/home/pexels-rfstudio-3811981.jpg" alt="Foto Fashion Season">
        </div>
      </article>
    </section>


</main>

 <!-- Footer -->
 <%- include ("partials/footer") %>
</body> 
</html>