<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Una marca vanguardista para mujeres modernas con estilo propio. Brand-You adapta tendencias multiculturales y las fusiona creando un estilo único. Encontrá nuestra Colección en nuestro shop online.">
    <title>BrandYou - Home</title>
</head>

<div class="header">
    <h1>Brand You</h1>
    <p>NEW VIBES.STYLE.TRENDY</p>
    
  </div>
  
  <!-- Barra Navegacion -->
  <nav>
  <ul class="navbar">
    <li><a href="#" class="active">Home</a></li>
    <li class="dropdown">
    <a href="#">Collection</a>
    <ul class="dropdown-content">
      <li><a href="/productDetail">Verano</a></li>
      <li><a href="/productDetail">Invierno</a></li>
      <li><a href="/productDetail">Ofertas</a></li> 
    </ul>	
    </li>
    <li><a href="/productDetail">Portfolio</a></li>
    <li><a href="/loginregistro">Login/Registrarse</a></li>
    <li><a href="#">Contactanos</a></li>
    
  </ul>
  </nav>
  <!-- Contenido slider -->
  <div class="main">
    <div class="slide1">
    <div class="left-div"><img src="/img/00_Home.jpg" alt="Foto Fashion temporada"></div>
    <div class="right-div" style="height:400px;" >
      <p class="line1">VERANO</p>
      <P class="line2">Beat the Summer with Style</p>
      <hr>
      <p class="line3"><a href="/productDetail">SHOP GIRL</a></p>
    </div>
    </div>
  
    <div class="slide2">
     <div class="right-div" style="height:400px;">
      <p class="line1">CLASSICS</p>
      <P class="line2">Old School Vibe</p>
      <hr>
      <p class="line3"><a href="/productDetail">SHOP GIRL</a></p>
    </div>
    <div class="left-div"><img src="/img/Newin_woman.jpg" alt="foto catalogo"></div>
    </div> 
    </div>
  
  
  <!-- Footer -->
  <footer class="footer-container">
      <div class="footer-left">
      <span class="logo">Brand You</span>
      <p class="footer-links">
      <a href="#">Home</a> &nbsp;
      <a href="#">Blog</a> &nbsp;
      <a href="#">Online Support</a>	&nbsp;
      <a href="#">FAQ</a> 
      </p>
      <p class="footer-company-name">Brand You &copy; 2021</p>
      </div>
      <div class="footer-center">
      <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Direccion</span> BA, Arg</p>
      </div>
      <div>
      <i class="fa fa-phone"></i>
      <p>Telefono</p>
      </div>
      <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@Brand-You.com</a></p>
      </div>
      </div>
  <div class="footer-right">
      <p class="footer-company-about">
      <span>About the company</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
      </p>
  <div class="footer-icons">
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-whatsapp"></i></a>
      </div>
      </div>
  </footer>