<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/stylesIndex.css">     
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Una marca vanguardista para mujeres modernas con estilo propio. Brand-You adapta tendencias multiculturales y las fusiona creando un estilo único. Encontrá nuestra Colección en nuestro shop online. Moda, Accesorios, Bijou, Deco, Home.">
    <title>BrandYou - Home</title>
</head>
<body>
    <header>
                <div class="main-header-top-bar">
                    <div id="top-logo">
                    <a href="./"><img src="/img/Logo-Brand-You.jpg" alt="Logo Brand-You" class="logo"></a>
                    </div>
                    <div>
                    <span><p> Búsqueda de Ropa: <input type="search" name="busquedaropa" placeholder="prenda, tipo, talle...">
                            <input type="submit" value="Buscar">
                            </p>
                    </span>
                   <i class="fas fa-shopping-cart"></i>
                    <span> <button type="button" onclick="alert('Vamos al Login')">Login</button>
                    </span>
                    </div>
                </div>
                </div>  
                    <marquee>ENVIO GRATIS A PARTIR DE $3000 - En todos tus pedidos a domicilio y puntos de recogida</marquee>

  
    </header>
        