<!--
Como cliente quiero poder ver toda la información relevante del producto para decidir si voy a comprarlo.
Como cliente quiero poder agregar fácilmente el producto a mi carrito para poder comprarlo.
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesproductDetail.css">    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Una marca vanguardista para mujeres modernas con estilo propio. Brand-You adapta tendencias multiculturales y las fusiona creando un estilo único. Encontrá nuestra Colección en nuestro shop online.">
    <title>BrandYou - Product Detail</title>
</head>

<div class="header">
    <h1>Brand You</h1>
    <p>NEW VIBES.STYLE.TRENDY</p>
    
  </div>
  
  <!-- Barra Navegacion -->
  <nav>
  <ul class="navbar">
    <li><a href="/" class="active">Home</a></li>
    <li class="dropdown">
    <a href="#">Collection</a>
    <ul class="dropdown-content">
      <li><a href="/productDetail">Verano</a></li>
      <li><a href="/productDetail">Invierno</a></li>
      <li><a href="/productDetail">Ofertas</a></li> 
    </ul>	
    </li>
    <li><a href="/productDetail">Portfolio</a></li>
    <li><a href="/loginregistro">Login/Registrarse</a></li>
    <li><a href="#">Contactanos</a></li>
    
  </ul>
  </nav>

<main>
    <section>
            <div class="content">
            <h3 class="h3"> Productos: </h3>
                <div class="detalleProducto">
                    <div class="diversos-productos">
                        <div class="cuadro-producto">
                            <div class="imagen">
                                <a href="#">
                                    <img class="img1" src="/img/WhatsApp Image 2021-04-14 at 19.57.35 (1).jpeg" alt="Chaleco cuadrillé" >
    
                                </a>
                </div>

                    <div class="producto">
                        <h3 class="nombre"><a href="#">Chaleco cuadrillé</a></h3>
                        <div class="precio">
                            $1500
                        </div>
                        <a class="add-carrito" href="/productCart">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="diversos-productos ">
                <div class="cuadro-producto ">
                    <div class="imagen">
                        <a href="#">
                            <img class="img1" src="/img/WhatsApp Image 2021-04-14 at 19.57.36 (2).jpeg" alt="Chaleco cuadriculado" >

                        </a>
                 
                    </div>
                    <div class="producto">
                        <h3 class="nombre"><a href="#">Chaleco cuadriculado</a></h3>
                        <div class="precio">
                            $1500
                   
                        </div>
                        <a class="add-carrito" href="/productCart">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="diversos-productos ">
                <div class="cuadro-producto">
                    <div class="imagen">
                        <a href="#">
                            <img class="img1" src="/img/WhatsApp Image 2021-04-14 at 19.57.36 (3).jpeg" alt="Chaleco con rombo">
    
                        </a>
                        </div>
                    <div class="producto">
                        <h3 class="nombre"><a href="#">Chaleco con rombo</a></h3>
                        <div class="precio">
                            $1800
                        </div>
                        <a class="add-carrito" href="/productCart">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="diversos-productos">
                <div class="cuadro-producto">
                    <div class="imagen">
                        <a href="#">
                            <img class="img1" src="/img/WhatsApp Image 2021-04-24 at 18.20.47 (1).jpeg" alt="Remera dragon" >
    
                        </a>
                    </div>
                    <div class="producto">
                        <h3 class="nombre"><a href="#">Remera dragón</a></h3>
                        <div class="precio">
                            $800
                        </div>
                        <a class="add-carrito" href="/productCart">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="diversos-productos ">
                <div class="cuadro-producto ">
                    <div class="imagen">
                        <a href="#">
                            <img class="img1" src="/img/Whatsapp Image 2021-04-24 at 18.20.50.jpeg" alt="Buzo oversized" >

                        </a>
                 
                    </div>
                    <div class="producto">
                        <h3 class="nombre"><a href="#">Buzo oversized</a></h3>
                        <div class="precio">
                            $1800
                   
                        </div>
                        <a class="add-carrito" href="/productCart">Añadir al carrito</a>
                    </div>
                </div>
            </div>
            <div class="diversos-productos ">
                <div class="cuadro-producto ">
                    <div class="imagen">
                        <a href="#">
                            <img class="img1" src="/img/Whatsapp Image 2021-04-24 at 18.20.49.jpeg" alt="Buzo Oxford" >

                        </a>
                 
                    </div>
                    <div class="producto">
                        <h3 class="nombre"><a href="#">Buzo Oxford</a></h3>
                        <div class="precio">
                            $1800
                   
                        </div>
                        <a class="add-carrito" href="/productCart">Añadir al carrito</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
</main>
    
</body>

<!-- Footer -->
<footer class="footer-container">
    <div class="footer-left">
    <span class="logo">Brand You</span>
    <p class="footer-links">
    <a href="#">Home</a> &nbsp;
    <a href="#">Blog</a> &nbsp;
    <a href="#">Online Support</a>	&nbsp;
    <a href="#">FAQ</a> 
    </p>
    <p class="footer-company-name">Brand You &copy; 2021</p>
    </div>
    <div class="footer-center">
    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Direccion</span> BA, Arg</p>
    </div>
    <div>
    <i class="fa fa-phone"></i>
    <p>Telefono</p>
    </div>
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:support@company.com">support@Brand-You.com</a></p>
    </div>
    </div>
<div class="footer-right">
    <p class="footer-company-about">
    <span>About the company</span>
    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>
<div class="footer-icons">
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
    </div>
</footer>
</html>