<!--
Como cliente quiero poder ver toda la información relevante del producto para decidir si voy a comprarlo.
Como cliente quiero poder agregar fácilmente el producto a mi carrito para poder comprarlo.
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesproductDetail.css">
    <title>BrandYou - Producto</title>
</head>
<body>
    <header>
        <a href="./"><img src="/img/logo brand you.png" alt="Logo Brand-You" class="logo" width="100px"></a> 
    </header>

<main>
    <section>
        <article>
            <img src="/img/WhatsApp Image 2021-04-14 at 19.57.35 (1).jpeg" alt="Chaleco cuadrillé" width="250px">
            <div>
                <p>Chaleco cuadrillé</p>
                <p>$1000</p>
            </div>
        </article>
        <article>
            <img src="/img/WhatsApp Image 2021-04-14 at 19.57.36 (2).jpeg" alt="Chaleco cuadriculado" width="250px">
            <div>
                <p>Chaleco cuadriculado</p>
                <p>$1100</p>
            </div>
        </article>
        <article>
            <img src="/img/WhatsApp Image 2021-04-14 at 19.57.36 (3).jpeg" alt="Chaleco con rombo" width="250px">
            <div>
                <p>Chaleco con rombo</p>
                <p>$1200</p>
            </div>
        </article>
        <article>
            <img src="/img/WhatsApp Image 2021-04-24 at 18.20.44 (1).jpeg" alt="Remera Frunce" width="250px">
            <div>
                <p>Remera frunce</p>
                <p>$900</p>
            </div>
        </article>
        <article>
            <img src="/img/WhatsApp Image 2021-04-24 at 18.20.47 (1).jpeg" alt="Remera dragon" width="250px">
            <div>
                <p>Remera Dragón</p>
                <p>$800</p>
            </div>
        </article>
        <article>
            <img src="/img/WhatsApp Image 2021-04-24 at 18.20.49.jpeg" alt="Buzo oxford" width="250px">
            <div>
                <p>Buzo oxford</p>
                <p>$1500</p>
            </div>
        </article>

    </section>
</main>
    
</body>
<footer></footer>
</html>