
h2{
    text-align: center;
    border-bottom:solid black;
    width: 100%; 
    padding: 10px
 }
 
 
 article{
     border-bottom: solid 1px grey;
 }
 
     .cartProduct{
         display:flex;
         justify-content:start;
         flex-wrap: wrap;
         width: 100%;
         padding: 5px;
         box-sizing: border-box;
     }
 
    .cartProduct div{
        margin: 10px
    }
             
    
    .imgProd{
        width: 65px;
         height: 65px;
    }
 
    .descripcion{
        text-align: justify;
    }
 
    .producto{
        font-weight: bold;
    }
 
     .detalleCompra{
         display:flex;
         justify-content:start;
         flex-wrap: wrap;
         width: 100%;
         padding: 5px;
         box-sizing: border-box;
    }   
 

        .detalleCompra div{
            margin: 10px
             }    
         
        
             
        .nombreEtiqueta{
            font-weight: bold;
            margin: 0px;
            text-align: center;
             }
 
        .icono{
            text-align: center;
             }
 
        .icono i{
            color: #2B3A67;
                     
                 }
 
 
 
 .etiquetaSecciones{
     border-bottom:solid black;
     margin: 10px 0px 25px 0px;
     padding: 10px;
 }
 
 
     .datosEntrega{ 
         width: 100%;
     }
     
     .textoEntrega{
         font-style: italic;
     }
 

     .formularioEntrega{
         margin: 20px;
         flex-wrap: wrap;
     }
 
       
         .contenedorFormEntrega{
             display: flex;
             margin: 0px;
             align-items: center;
         }
 
        
             .contenedorFormEntrega label{
             font-style: italic;
             font-weight: bold;
             }
 
       
             .botonFormularioEntrega{
                 margin-right: 10px;
                 margin-left: 10px;
                 padding: 10px;
             }
     
  
         .contenedor-opciones{
             display: block
         }
 
          
             .opcion-entrega{
                 margin-bottom: 10px;
                 width: 100%;
             }
 
       
             .errorValidacion{
                 display: none;
             }
 
             .contenedor-opciones p{
                 font-style: italic;
             }
 
          
             .seleccionado{
             width: 200px;
             opacity: 0.5;
             }
 
        
         .boton{
          background-color: #2B3A67;   
          color: white
             
     }
 
 

  
 .resumen-Compra{
 
     display: block;
     margin-bottom: 20px;
     border: none;
 }
 
 .etiquetaResumenItem{
 margin: 10px;
 }
     
 .etiquetaResumenTotal{
 margin: 10px;
 font-weight: bold;
 }
 
 .contenedor-final{
     display: flex;
     justify-content: space-around;
 
 }