<!DOCTYPE html>
<html lang="en">
 <!-- Head -->
 <%- include ("../partials/head") %> 

 <link rel="stylesheet" href="/css/catalogue.css">
 <link rel="stylesheet" href="/css/normalize.css">
 <body>
 <!-- Header -->
 <%- include ("../partials/header") %> 
   
   <!-- Barra Navegacion -->
 <%- include("../partials/nav") %> 
  <!-- Contenido slider -->
  <main>
    <section>
        <h3>Catalogue</h3>
        <section class="articulos1">
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/chaleco-cuadrille.JPEG" alt="Chaleco cuadrillé">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h3>Detail</h3>
                </a> 
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$6.770</span>
                            <span class="discount">40% off</span>
                        </div>
                    <p class="description">Chaleco cuadrillé</p>
                </div>                           
            </article>
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/chaleco-cuadriculado.JPEG" alt="Chaleco cuadriculado">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h3>Detail</h3>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1500</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Chaleco cuadriculado</p>
                </div>                           
            </article>
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/polera.JPEG" alt="Polera">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h3>Detail</h3>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1000</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Polera</p>
                </div>                           
            </article>
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/remera-aro.JPEG" alt="Remera Demie">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h3>Detail</h3>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1000</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Remera Demie</p>
                </div>                           
            </article>
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/saco.JPEG" alt="Saco">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h3>Detail</h3>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$2000</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Saco</p>
                </div>                           
            </article>      
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/buzo-oxford.JPEG" alt="Buzo Oxford">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h3>Detail</h3>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1500</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Buzo Oxford</p>
                </div>                           
            </article>   
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/chaleco-tejido.jpeg" alt="Chaleco Tejido">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h3>Detail</h3>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1800</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Chaleco Tejido</p>
                </div>                           
            </article>   
            <article class="lv">
                <div> 
                    <img class="img-cat"src="/img/remera-mangalarga.jpeg" alt="Remera morley">
                </div>
                <a class="product-detail" href="/products/Detail" title="Detail" target="_self">
                    <h3>Detail</h3>
                </a>  
                <div class="lv1">
                    <i class="fas fa-truck"></i>
                        <div class="lv2">
                            <span class="price">$1000</span>
                            <span class="discount">10% off</span>
                        </div>
                    <p class="description">Remera morley</p>
                </div>                           
            </article>      
    </section>
</main>
<!-- Footer -->
  <%- include ("../partials/footer") %>
</body> 
</html>