<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ("../partials/head") %> 

<link rel="stylesheet" href="/css/productDetail.css">
<link rel="stylesheet" href="/css/normalize.css">
  <body>
<!-- Header -->
<%- include ("../partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("../partials/nav") %> 
  <main>
    <div class = "product-display">
      <div class = "display">
        <div class = "product-images">
          <div class = "image-display">
            <div class = "image">
              <img src = "/images/chaleco-tejido.JPEG" alt = "chaleco tejido">
            </div>
          </div>
        </div>
        <div class = "product">
          <h2 class = "title">Chaleco tejido</h2>
          <div class = "product-detail">
            <h2>Descripción: </h2>
            <p>Tela: Tejido</p>
            <p>Talle: Único</p>
            <ul>
              <li>EN STOCK</li>
            </ul>
          </div>
          <div class = "product-price">
              <p>Price: <span>$1500</span></p>
            </div>
          <div class = "container">
            <div class = "input-container">
              <label for ="colour">Colores:</label>
              <select name="colour" id="colour">
                <option value="opcion-1">Negro</option>
                <option value="opcion-2">Blanco</option>
                <option value="opcion-3">Rojo</option>
                <option value="opcion-4">Amarillo</option>
              </select>
            </div>
            <div class = "input-container">
              <label for ="quantity">Cantidad:</label>
              <input type = "number" min = "0" value = "1">
            </div>
            <div class = "input-container">
              <button type = "button" class = "button">
              Add to Cart <i class = "fas fa-shopping-cart"></i>
            </button>
            </div>
          </div>
    </main>
 <!-- Footer -->
 <%- include ("../partials/footer") %>
  </body> 
</html>