.social_box ul {
    list-style: none;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.social_box ul .text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #f69653;
    color: #eee;
    line-height: 50px;
    border-radius: 50px;
    font-size: 18px;
    pointer-events: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    transition: opacity .5s .75s ease-out
}

.social_box ul:hover .text {
    opacity: 0;
    transition: opacity .5s .125s ease-out
}

.social_box ul li {
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #f69653;
    text-align: center;
    line-height: 55px;
    margin: 0 -16px;
    cursor: pointer;
    border-radius: 0px;
    transition: background-color .5s ease-out, border-radius .5s .25s ease-out, margin .5s .25s ease-out
}

.social_box ul li:hover {
    background: #ef5956
}

.social_box ul li i {
    color: #eee;
    font-size: 22px;
    opacity: 0;
    transition: opacity 1.7s;
    vertical-align: middle;
}

.social_box ul:hover li i {
    opacity: 1
}

.social_box ul li:nth-child(1) {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px
}

.social_box ul li:nth-child(5) {
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px
}

.social_box ul:hover li {
    border-radius: 50px;
    margin: 0 3px
}