* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  }
  
  a:link, a:visited, a:active {
  text-decoration:none;
  }
  /* ------------ Header------------------ */
  
  .header {
  text-align:center;
  padding: 10px;
  background: #ffffff;
  color: #000000;	
  }
  
  .header h1 {
    display: inherit;
    font-size: 4rem;
    font-family: roboto, verdana ,Tahoma , sans-serif;
    font-weight: bold;
    color: black;
  }
  
  .header p { 
  font-size:1.4em;
  font-family: roboto, verdana ,Tahoma , sans-serif;
  letter-spacing:0.8em;
  }
  
  a:link, a:visited, a:active {
  text-decoration:none;
  }
  
  html {
  overflow-y: scroll;
  }
  
.buscador{
  -webkit-text-size-adjust: 100%;
  color: #000000;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-weight: lighter;
  font-family: 'sackersGothic-light';
  font-size: 1rem;
  display: inline-block;
  vertical-align: middle;
  margin-left: .75em;
}

/* ------------ Button Animate! ------------------ */ 

h1{
  font-size: 4rem;
}
.anim{
  font-size: 2rem;
  border: 0;
  padding: 30px 70px;
  background-image: linear-gradient(to right, 
    #fdb94e,
    #f9a852,
    #f69653,
    #f38654,
    #f07654,
    #ed6856,
    #ef5956,
    #ee4c58
  );
}

.anim{
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  border: 0;
  padding: 30px 70px;
  background-image: linear-gradient(to right, #e80033, #f9a852, #f69653, #f38654, #f07654, #ed6856, #ef5956, #ee4c58, #56c1ab);
  background-size: 700%;
  transition: background-position 1s;
}
.anim:hover{
   background-position: 50%;
   /*background-position: right;*/
}

/* ------------ Body ------------------ */ 
body {
font-family: roboto, verdana ,Tahoma , sans-serif;
margin: 0;
background-color: white;
font-weight: 300;
font-size: 1vh;
}


/* ------------ Navegacion slider ------------------ */ 
ul.navbar {
  display: flex;
  background-color: black;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  text-decoration:none;
  margin: 0;
  padding: 0;
  text-align:center;
}


ul.navbar li:hover,
ul.navbar li:active
  {background-color:#414a4c;}

.navbar .active {
	background-color:black;
    color: #ffffff;	
}
 
ul.navbar li {
  flex: 1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  border: 2.4px solid #000000;
  font-family: roboto, verdana ,Tahoma , sans-serif;;
  background-color: black;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 5px;
  text-decoration: none;
  font-size: 1rem
}

ul.dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #292c2f;
}

ul.dropdown-content li {
  width: 100%;
  border: 0px solid black;
  border-bottom: 2px solid #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  width:100%;
}

/*-------------------------Foto Slider----------------------------------------- */


.container1{
    /* margin: auto; */
    /* background-color: lightsteelblue; */
    width: 100vw;
    /* padding: 1vw;*/
}

.container2{
    /* margin: auto; */
    /* background-color: lightsteelblue; */
    width: 100vw;
    /* padding: 1vw;*/
}

.img-cat {
  width: 60vw;
  }

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider1{
  position: relative;
  width: 100%;
  height: 40vw;
}

ul.slider2{
  position: relative;
  width: 100%;
  height: 40vw;
}

ul.slider1 li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
 }

 ul.slider2 li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
 }

ul.slider1 li img {
  max-width: 60vw;
  /* height: 600px; */
  object-fit: cover;
}

ul.slider2 li img {
  max-width: 40vw;
  /* height: 600px; */
  object-fit: cover;
}

ul.slider1 li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider2 li:first-child {
  opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider1 li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

ul.slider2 li:target {
  opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}


.menu1{
  text-align: center;
  padding: 2vw;

}

.menu2{
  text-align: center;
  padding: 2vw;
}

.menu1 li{
  display: inline-block;
  text-align: center;
}

.menu1 li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 5px;
  width: 10px;
  height: 10px;
  font-size: 10px;
  border-radius: 100%;
}

.menu2 li{
  display: inline-block;
  text-align: center;
}

.menu2 li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 5px;
  width: 10px;
  height: 10px;
  font-size: 10px;
  border-radius: 100%;
}


/* --------------------- Main ------------------ */
.main {  
display: flex;
flex-wrap: wrap;
}

.main, .navbar {   
flex-direction: column;
margin-left: 0;
}

main section article i {
display: block ;
font-size: 16px ;
padding: 5px ;
width: 30px ;
height: 30px ;
border: 1px solid #39b54a ;
background-color: #FFF ;
border-radius: 50% ;
position: absolute ;
right: 20px ;
top: -15px ;
}

/* -------------------- Logo ------------------  */
.logo { font-size:18px;
	color:#ffffff;}

.img-cat {
	width: 90vw;
}

img {
  width: 70vw;
  /* padding: 10px; */
  /* margin: 10px auto;*/
}

/* ------------ cajas -------------*/

.slide1,
.slide2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 0;
  padding: 0;
  width: 100%;
}


	/*  Top & Bottom cajas ----*/
	
.top-div {
    display: inline-block;
    /* width: 40vw; */
    padding: 10px auto;
    border-radius: 3px;
    margin: 5px auto;
    vertical-align: top;
    align-content: center;
    text-align: center;
    border-radius: 0%;
    background-color: #fff;
      /* padding: 15px 15px;
    /* max-width: 45%; */
    position: relative;
    justify-content: space-between;
}


.bottom-div {
  display: inline-block;
  /* width: 40vw; */
  padding: 10px auto;
  border-radius: 3px;
  margin: 5px auto;
  vertical-align: top;
  align-content: center;
  text-align: center;
  border-radius: 0%;
  background-color: #fff;
    /* padding: 15px 15px;
  /* max-width: 45%; */
  position: relative;
  justify-content: space-between;
}

.left-div2 {
  display: inline-block;
  width: 40vw;
  padding: 10px auto;
  border-radius: 3px;
  margin: 5px auto;
  vertical-align: top;
  align-content: center;
  text-align: center;
}

.right-div1 {
display: inline-block;
/* width: 45%;*/
padding: 10px;
border-radius: 3px;
margin: 5px auto;
vertical-align: top;
}

.right-div2 {
  display: inline-block;
  /* width: 45%; */
  /* height: 100vw; */
  padding: 10px;
  border-radius: 3px;
  margin: 5px auto;
  vertical-align: top;
  }
  .video2 {
    width: 30vw;
  }

.line1 { 
text-align: center;
/* margin-top: 110px; */
padding: 2px;
/* font-size: 3em;*/
font-weight: bold;
font-family: roboto, verdana ,Tahoma , sans-serif;
}

.line2 { 
text-align:center;
    /* font-size: 2em;*/
padding: 1px;
font-family:roboto, verdana ,Tahoma , sans-serif;
margin-top:1px;
}
			  
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 8em;
    margin-right: 8em;
    border-style: inset;
    border-width: 1px;
}

.line3 {
	text-decoration:underline;
	font-size:12px;
	font-family:roboto, verdana ,Tahoma , sans-serif;
	font-weight:bold;
	padding:4px;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    max-width: 73vw;
    /* min-height: 100%; */
    padding: 5px;
}

/* Add some content at the bottom of the video/page */
.content {
    /* position: fixed; */
    right: 0;
    bottom: 0;
    max-width: 40%;
    min-height: 100%;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


/* ------------------------------------ Footer -----------------------------*/

.footer-container{
  background-color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-family: roboto, verdana ,Tahoma , sans-serif;
  padding: 1vw;
  }
  
  .footer-container .footer-left,
  .footer-container .footer-center,
  .footer-container .footer-right{
  display: inline-block;
  vertical-align: top;
  }
  
  
  /* ------------ footer-left contenido ------------- */
  
  .footer-container h3{
  color:  #ffffff;
  font-family: roboto, verdana ,Tahoma , sans-serif;;
  margin: 0;
  }
  
  .footer-container h3 span{
  color:  #5383d3;
  }
  
  .footer-container .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  }
  
  .footer-container .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
  font-size: 2em;
  }
  
  .footer-container .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  }
  
  /* -------------- Footer Center contentido--------------------- */
  
  .footer-container .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  
  }
  
  .footer-container .footer-center i.fa-envelope{
  font-size: 2em;
  line-height: 38px;
  }
  
  .footer-container .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
  font-size: 2em
  }
  
  .footer-container .footer-center p span{
  display:block;
  font-weight: normal;
  font-size: 1em;
  line-height:2;
  }
  
  .footer-container .footer-center p a{
  color:  #5383d3;
  text-decoration: none;
  }
  
  
  /* ----------------------- Footer Right contentido---------------*/
  .footer-container .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer-container .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  .footer-container .footer-icons{
  margin-top: 25px;
  }
  
  .footer-container .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  }
  
  /* -------------------- Logo ------------------  */
  .logo { 
  font-size: 3rem;;
  color:#ffffff;}


  .data span, .data a {
    text-transform: uppercase;
    color: grey;
    font-weight: 700;
  }




/* media queries 360px wide */
@media (min-width: 360px) {
  .main, .navbar {   
  flex-direction: column;
  margin-left: 0;
  }


  .slide1, .slide2 {padding:6px;}


  .main .right-div,
  .main .left-div 
  {margin-left: 0;}
 
 
  ul.dropdown-content li {
  
  font-size:12px;
  }
  
  ul li a {
  padding: 15px 1px;
  font-size: 1rem
  }
  
  }

.lv {
width: 20%;
flex-wrap: nowrap;
}
  /* media queries 768px wide */
@media (min-width: 768px) {
.main, .navbar {   
flex-direction: row;
margin-left: 0;
}


.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: baseline; */
  margin: 0;
  padding: 0;
}

.footer-container .footer-left, .footer-container .footer-center, .footer-container .footer-right {
    margin: 5px;
    background-color: black;
    padding: 5px 5px;
    max-width: 30vw;
    position: relative;
    justify-content: space-between;
    display: inline-block;
    align-content: center;
    left: 0px;
    color: #1259c3;
    font-size: 0.75em;
    margin-bottom: 10px;
    transition: 1s;
  }


img {
  width: 40vw;
  /* padding: 10px; */
  /* margin: 10px auto;*/
}

.container1{
  /* margin: auto; */
  /* background-color: lightsteelblue; */
  width: 40vw;
  /* padding: 1vw;*/
}

.container2{
  /* margin: auto; */
  /* background-color: lightsteelblue; */
  width: 40vw;
  /* padding: 1vw;*/
}

#myVideo {
  /* position: fixed; */
  right: 0;
  bottom: 0;
  max-width: 40vw;
  /* min-height: 100%; */
  padding: 5px;
  margin-top: 4vh;
}

ul.slider1{
  position: relative;
  width: 100%;
  height:25vw;
}

ul.slider2{
  position: relative;
  width: 100%;
  height:25vw;
}

.menu1 li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.menu2 li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

#myVideo {
  /* position: fixed; */
  right: 0;
  bottom: 0;
  max-width: 40vw;
  /* min-height: 100%; */
  padding: 5px;
}


.slide1, .slide2 {padding:6px;}

.main .right-div,
.main .left-div 
{margin-left: 0;}

ul.dropdown-content li {

font-size:12px;
}



}

.block-form{
border: 1px solid #c5cbd5;
padding: 10px;
margin: 5px auto;
transition-property: border,color,background-color;
max-width: 50vw;
}
/* EXTRAS REVISAR */

* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for all buttons */
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 14px;
background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
width: 20vw;
}

/* Add padding to container elements */
.container {
padding: 5vw;
}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close:hover,
.close:focus {
color: #f44336;
cursor: pointer;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

