* {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

a:link, a:visited, a:active {
text-decoration:none;
}

/* ------------ Header------------------ */

.header {
text-align:center;
padding: 10px;
background: #ffffff;
color: #000000;	
}

.header h1 {
font-size:4rem;
font-family: roboto, verdana ,Tahoma , sans-serif;
font-weight:bold;
color: black;
}

.header p { 
  font-size:1.4em;
  font-family: roboto, verdana ,Tahoma , sans-serif;
  letter-spacing:0.8em;
  }
  
a:link, a:visited, a:active {
text-decoration:none;
}

html {
overflow-y: scroll;
}

/* ------------ Body ------------------ */ 
body {
font-family: roboto, verdana ,Tahoma , sans-serif;
margin: 0;
background-color: #ffffff;
font-weight: 300;
font-size: 1vh;
}

/* ------------ Navegacion slider ------------------ */ 
ul.navbar {
display: flex;
background-color:#292c2f;
margin: 0;
padding: 0;
}

ul {
list-style-type: none;
text-decoration:none;
margin: 0;
padding: 0;
text-align:center;
}


ul.navbar li:hover,
ul.navbar li:active
{background-color:#414a4c;}

.navbar .active {
  background-color:black;
  color: #ffffff;	
  }

  ul.navbar li {
    flex: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    border: 2.4px solid #000000;
    font-family: roboto, verdana ,Tahoma , sans-serif;;
    background-color: black;
    }

ul li a {
display: block;
color: white;
text-align: center;
padding: 15px 5px;
text-decoration: none;
width:100%;
font-size: 1rem
}

ul.dropdown-content {
position: absolute;
display: none;
z-index: 1;
}

ul.dropdown-content li {
width: 100%;
border: 0px solid black;
border-bottom: 2px solid #000000;
}

.dropdown:hover .dropdown-content {
display: block;
position: absolute;
width:100%;
}

/*------------------------------------------------------------------ */



/* Style the search field */
form.example input[type=text] {
padding: 10px;
font-size: 17px;
border: 1px solid grey;
float: left;
width: 80%;
background: #f1f1f1;
}

/* Style the submit button */
form.example button {
float: left;
width: 20%;
padding: 10px;
background: #2196F3;
color: white;
font-size: 17px;
border: 1px solid grey;
border-left: none; /* Prevent double borders */
cursor: pointer;
}

form.example button:hover {
background: #0b7dda;
}

/* Clear floats */
form.example::after {
content: "";
clear: both;
display: table;
}


main {
padding:10vw
}


h2{
text-align: center;
border-bottom:solid black;
width: 100%; 
padding: 10px
}

article {
border-bottom: solid 1px grey;
}

.cartProduct{
display:flex;
justify-content:start;
flex-wrap: wrap;
width: 100%;
padding: 5px;
box-sizing: border-box;
}

.cartProduct div{
margin: 10px
}


.imgProd{
width: 65px;
height: 65px;
}

.description{
text-align: justify;
}

.product{
font-weight: bold;
}

.detailPurchase{
display:flex;
justify-content:start;
flex-wrap: wrap;
width: 100%;
padding: 5px;
box-sizing: border-box;
}   


.detailPurchase div{
margin: 5px;
}    

.nameLabel{
font-weight: bold;
margin: 0px;
text-align: center;
}

.icon{
text-align: center;
}

.icon i{
color: #2B3A67;

}


.labelSections{
border-bottom:solid black;
margin: 10px 0px 25px 0px;
padding: 10px;
}


.textDelivery{ 
width: 100%;
}

.textDelivery{
font-style: italic;
}


.deliveryform{
margin: 20px;
flex-wrap: wrap;
}


.containerFormDelivery{
display: flex;
margin: 0px;
justify-content: space-around;
}


.containerFormDelivery label{
margin: 5px 0vw;
font-style: italic;
display: block;
font-weight: bold;
max-width: 250px;
}

.selected {
margin: 5px;
padding: 8px;
font-weight: bold;
max-width: 250px;
align-content: center;
}




.input-container {
margin-bottom: 20px;
font-size: 1.25em;
}


.input-container p,
.input-container label{
display: block;
font-size: 1.25em;
}

.input-container input,
.input-container textarea{
width: 100%;
font-size: 1.2em;
color: gray;
padding: 10px;
outline: none;
}

.input-container .label-inline{
display: inline;
}

.input-container select{
font-size: 1.25em;
}
.input-container input[type="checkbox"],
.input-container input[type="radio"]{
width: initial;
}

.input-container textarea{
height: 100px;
}

.input-container textarea:focus,
.input-container input:focus{
border: 3px solid orange;
}

.input-container label::before{
content: "";
width: 10px;
height: 10px;
display: block;
background: blue;
}


.buttonFormDelivery{
margin-right: 10px;
margin-left: 10px;
padding: 10px;
}


.container-options{
display: block
}


.delivery-option{
margin-bottom: 10px;
width: 100%;
}


.errorValidation{
display: none;
}

.container-options p{
font-style: italic;
padding-top: 30px;
}


.selected{
width: 200px;
opacity: 0.5;
}


.button{
background-color: #2B3A67;   
color: white
}

.Summary-Purchase{
display: block;
margin-bottom: 20px;
border: none;
}

.labelSummaryItem{
margin: 10px;
}

.labelSummaryTotal{
margin: 10px;
font-weight: bold;
}

.final-container{
display: flex;
justify-content: space-around;

}

/*----------------------Form---------------------------------------- */
a {
text-decoration: none;
color: #1ab188;
transition: .5s ease;
}

a :hover {
color: #1ab188, 5%;
}


.form {
background: rgba(#13232f, .9);
padding: 40px;
max-width: 600px;
margin: 40px auto;
border-radius: 4px;
box-shadow: 0 4px 10px 4px rgba(#13232f, .3);
}

.block-cart{
border: 1px solid #c5cbd5;
padding: 10px;
margin: 5px auto;
transition-property: border,color,background-color;
max-width: 80vw;
}

.check {
font-size: 2em 
}

.tab-group {
list-style: none;
padding: 0;
margin: 0 0 40px 0;
}

.tab-group:after {
content: "";
display: table;
clear: both;
}

.header h1 {
    display: inherit;
    font-size: 4rem;
    font-family: roboto, verdana ,Tahoma , sans-serif;
    font-weight: bold;
    color: black;
  }
/*----------------------
label {
position: absolute;
transform: translateY(6px);
left: 13px;
color: rgba(#ffffff, .5);
transition: all 0.25s ease;
pointer-events: none;
font-size: 22px;
}
---------------------------------------- */

label.req {
margin: 2px;
color: #1ab188;
}

label.active {
transform: translateY(50px);
left: 2px;
font-size: 14px;
}
label.active .req {
opacity: 0;
}


label.highlight {
color: #ffffff;
}

input,
textarea {
font-size: 22px;
display: block;
width: 100%;
height: 100%;
padding: 5px 10px;
background: none;
background-image: none;
border: 1px solid #1ab188;
color: #1ab188;
border-radius: 0;
transition: border-color .25s ease, box-shadow .25s ease;
}

input,
textarea :focus {
outline: 0;
border-color: #1ab188;
}

textarea {
border: 2px solid #a0b3b0;
resize: vertical;
}

.field-wrap {
position: relative;
margin-bottom: 40px;
}

.top-row 
:after {
content: "";
display: table;
clear: both;
}
.top-row div {
float: left;
width: 48%;
margin-right: 4%;

}
.top-row div:last-child {
margin: 0;
}

.button {
border: 0;
outline: none;
border-radius: 4px;
padding: 5px;
margin:0px 10px;
font-size: 1rem;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .1em;
background: #1ab188;
color: #ffffff;
transition: all .3s ease-out 0s;
}

.button:hover,
:focus {
background: #1ab188, 5%;
}
.button-block {
display: block;
width: 100%;
}

.forgot {
margin-top: -20px;
text-align: right;
}


/* ------------------------------------ Footer -----------------------------*/

.footer-container{
  background-color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-family: roboto, verdana ,Tahoma , sans-serif;
  padding: 1vw;
  }
  
  .footer-container .footer-left,
  .footer-container .footer-center,
  .footer-container .footer-right{
  display: inline-block;
  vertical-align: top;
  }
  
  
  /* ------------ footer-left contenido ------------- */
  
  .footer-container h3{
  color:  #ffffff;
  font-family: roboto, verdana ,Tahoma , sans-serif;;
  margin: 0;
  }
  
  .footer-container h3 span{
  color:  #5383d3;
  }
  
  .footer-container .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  }
  
  .footer-container .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
  font-size: 2em;
  }
  
  .footer-container .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  }
  
  /* -------------- Footer Center contentido--------------------- */
  
  .footer-container .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  
  }
  
  .footer-container .footer-center i.fa-envelope{
  font-size: 2em;
  line-height: 38px;
  }
  
  .footer-container .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
  font-size: 2em
  }
  
  .footer-container .footer-center p span{
  display:block;
  font-weight: normal;
  font-size: 1em;
  line-height:2;
  }
  
  .footer-container .footer-center p a{
  color:  #5383d3;
  text-decoration: none;
  }
  
  
  /* ----------------------- Footer Right contentido---------------*/
  .footer-container .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer-container .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  .footer-container .footer-icons{
  margin-top: 25px;
  }
  
  .footer-container .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  }
  
  /* -------------------- Logo ------------------  */
  .logo { 
  font-size: 3rem;;
  color:#ffffff;}
  

/* EXTRAS REVISAR */

* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for all buttons */
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 20px;
background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

/* Add padding to container elements */
.container {
padding: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: #474e5d;
padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close:hover,
.close:focus {
color: #f44336;
cursor: pointer;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}


