* {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

a:link, a:visited, a:active {
text-decoration:none;
}

/* ------------ Header------------------ */

.header {
  text-align:center;
  padding: 2.5vh;
  background: #ffffff;
  color: #000000;
  z-index:100;
  max-width: 100vw;
  width: 100%;
  position: fixed;
  top:0
  }

.header h1 {
    display: inherit;
    font-size: 4rem;
    font-family: roboto, verdana ,Tahoma , sans-serif;
    font-weight: bold;
    color: black;
  }

  .header p { 
    font-size:1.4em;
    font-family: roboto, verdana ,Tahoma , sans-serif;
    letter-spacing:0.8em;
    }

a:link, a:visited, a:active {
text-decoration:none;
}

html {
overflow-y: scroll;
}

/* ------------ Body ------------------ */ 
body {
font-family: roboto, verdana ,Tahoma , sans-serif;
margin: 0;
background-color: #ffffff;
font-weight: 300;
font-size: 1vh;
}

/* ------------ Navegacion slider ------------------ */ 
.respmenu{
  z-index: 100;
  max-width: 100vw;
  width: 100%;
  position: fixed;
  margin-top: -6vh;
}

ul.navbar {
display: flex;
background-color:#292c2f;
margin: 0;
padding: 0;
}

ul {
list-style-type: none;
text-decoration:none;
margin: 0;
padding: 0;
text-align:center;
}


ul.navbar li:hover,
ul.navbar li:active
{background-color:#414a4c;}

.navbar .active {
  background-color:black;
  color: #ffffff;	
  }

  ul.navbar li {
    flex: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    border: 2.4px solid #000000;
    font-family: roboto, verdana ,Tahoma , sans-serif;;
    background-color: black;
    }

ul li a {
display: block;
color: white;
text-align: center;
padding: 15px 5px;
text-decoration: none;
width:100%;
font-size: 1rem
}

ul.dropdown-content {
position: absolute;
display: none;
z-index: 1;
}

ul.dropdown-content li {
width: 100%;
border: 0px solid black;
border-bottom: 2px solid #000000;
}

.dropdown:hover .dropdown-content {
display: block;
position: absolute;
width:100%;
}
/*------------------------------------------------------------------ */
/* --------------------- Main ------------------ */
.main {  
display: flex;
flex-wrap: wrap;
margin-top: 13vh;
}

main section article i{
display: block ;
font-size: 16px ;
padding: 5px ;
width: 30px ;
height: 30px ;
border: 1px solid #39b54a ;
background-color: #FFF ;
border-radius: 50% ;
position: absolute ;
right: 20px ;
top: -15px ;
}


h3 {
font-family: 'Roboto', sans-serif;
color: grey;
font-weight: 400;
font-size: 24px;
font-weight: bold;
text-align: left;
margin-left: 10px;
margin-top: 10px;
}

.articulos1 {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: baseline;
margin: 0;
padding:0;
}


.lv {
border-top: 1px solid #ebebeb;
border-radius: 0%;
margin: 20px;
background-color: #fff;
padding: 15px 15px;
max-width: 35%;
/* position: relative; */
justify-content: space-between;
display: inline-block;
align-content: center;
/* left: 42px;*/

}

.lv1 {
border-top: 1px solid #ebebeb ;
border-radius: 0%;
margin:0px 0px;
padding: 10px 0px;
background-color: #fff;
/* max-width: 0px;*/
position: relative;
justify-content: space-between;
transition: all 450ms;
}

.lv2{
display:flex;
}

.lv:hover .description {
display: block;
box-shadow: ​0px​ ​0px​ ​10px​ ​rgb​(​100​, ​100​, ​100​);
}

.lv:hover .fa-truck{
transform: rotate(360deg);
animation-name: trans;
animation-duration: 3s;
}

.lv:hover {
box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.90);
}

.lv:hover {
display: block;
box-shadow: ​rgba​(​100​, ​100​, ​100, 0.5​);
transition: all 0.5ms
}

.lv:hover div h3{
opacity: 1;
}

.lv2{
display:flex;
}

.discount {
display: block;
font-size: 16px;
color: #39b54a;
width: 70%;
margin-top: 5px;
text-align: center
}

.description {
display: none;
font-size: 16px;
margin: 0px;
padding: 0px;
left: 0;
width: 100%;
transition: width 10s;
}

.description:hover {
display: block;
font-size: 0.75em
}

.fa-truck {
padding: 5px 5px;
color: #39b54a;
border-style: #39b54a;
border: solid;
border-width: 1px;
border-radius: 50%;
width: 30px;
height: 30px;
transition: 1s;
}

.img-cat {
width: 30vw;
}

/* ------------ cajas ------------- */

body{
line-height: 1.5;
}

.lv3 {
margin: 30px auto;
border: 1px solid #c5cbd5;
}

img{
display: block;
border-style: none;
position: relative;
margin: 10px auto;
}

.image-display{
overflow: hidden;
}

.image{
display: flex;
width: 100%;
transition: all 0.5s ease;
}

.image img{
width: 100%;
}

.title {
font-size: 3em;
text-transform: capitalize;
font-weight: bold;
position: relative;
color: black;
/* border: solid 0.5px; */
text-align: center;
}

.product-price{
font-size: 20px;
font-weight: bold;
margin-top: 20px;
text-align: left;
}

.product-detail{
/* border: solid 0.5px; */
padding: 10px;
text-align: left;
}

.product-detail h2{
text-transform: capitalize;
color: black;
padding-bottom: 10px;
font-size: 20px;
margin-top: 20px;
margin-left: 20px;
}

.product-detail p{
font-size: 15px;
padding: 10px;
opacity: 0.9;
margin-left: 20px;
}

.product-detail ul li{
margin-top: 20px;
margin-bottom: 20px;
list-style: none;
font-weight: bold;
margin-left: 20px;
}

.container{
margin: 15px;
}

.container input,
.container .button{
text-align: center;
padding: 5px;

}
.container input{
width: 60px;
}
.button{
color: white;
}

.button{
background-color: black;
}

.button:hover{
opacity: 0.8;
background-color: coral;
}

.input-container{
margin-bottom: 40px;
}

/* -------------------- Logo ------------------  */
.logo { font-size:18px;
color:#ffffff;}

img {
width: 90vw;
}


/* EXTRAS REVISAR */

* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 22px 0;
display: inline-block;
border: none;
background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
}

/* Set a style for all buttons */
button {
background-color: #04AA6D;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 20px;
background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
float: left;
width: 50%;
}

/* Add padding to container elements */
.container {
padding: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: #474e5d;
padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close:hover,
.close:focus {
color: #f44336;
cursor: pointer;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}


/* ------------------------------------ Footer -----------------------------*/

.footer-container{
  background-color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-family: roboto, verdana ,Tahoma , sans-serif;
  padding: 1vw;
  }
  
  .footer-container .footer-left,
  .footer-container .footer-center,
  .footer-container .footer-right{
  display: inline-block;
  vertical-align: top;
  }
  
  
  /* ------------ footer-left contenido ------------- */
  
  .footer-container h3{
  color:  #ffffff;
  font-family: roboto, verdana ,Tahoma , sans-serif;;
  margin: 0;
  }
  
  .footer-container h3 span{
  color:  #5383d3;
  }
  
  .footer-container .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  }
  
  .footer-container .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
  font-size: 2em;
  }
  
  .footer-container .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  }
  
  /* -------------- Footer Center contentido--------------------- */
  
  .footer-container .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  
  }
  
  .footer-container .footer-center i.fa-envelope{
  font-size: 2em;
  line-height: 38px;
  }
  
  .footer-container .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
  font-size: 2em
  }
  
  .footer-container .footer-center p span{
  display:block;
  font-weight: normal;
  font-size: 1em;
  line-height:2;
  }
  
  .footer-container .footer-center p a{
  color:  #5383d3;
  text-decoration: none;
  }
  
  
  /* ----------------------- Footer Right contentido---------------*/
  .footer-container .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer-container .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  .footer-container .footer-icons{
  margin-top: 25px;
  }
  
  .footer-container .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  }
  
  /* -------------------- Logo ------------------  */
  .logo { 
  font-size: 3rem;;
  color:#ffffff;}


  .data span, .data a {
    text-transform: uppercase;
    color: grey;
    font-weight: 700;
  }

/* media queries 360px wide */
@media (min-width: 360px) {
.main, .navbar {   
flex-direction: column;
margin-left: 0;
}


img {
width: 50vw;
}

}

/* media queries 768px wide */
@media (min-width: 768px) {
.main, .navbar {   
flex-direction: row;
margin-left: 0;
}

img {
  width: 30vw;
  }
  
}

@media screen and (min-width: 992px){
.display{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 1.5rem;
}
.product-display{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.product-images{
display: flex;
flex-direction: column;
justify-content: center;
}
.product{
padding-top: 0;
}
}

@media (min-width: 1600px) {
  .header {
  
    padding: 3.5vh;
  
    }
  }
