* {
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

a:link, a:visited, a:active {
text-decoration:none;
}

/* ------------ Header------------------ */

.header {
  text-align:center;
  padding: 5.5vh;
  background: #ffffff;
  color: #000000;
  z-index:100;
  max-width: 100vw;
  width: 100%;
  position: fixed;
  top:0
  }

.header h1 {
font-size:4rem;
font-family: roboto, verdana ,Tahoma , sans-serif;
font-weight:bold;
color: black;
}

.header p { 
  font-size:1.4em;
  font-family: roboto, verdana ,Tahoma , sans-serif;
  letter-spacing:0.8em;
  }
  
a:link, a:visited, a:active {
text-decoration:none;
}

html {
overflow-y: scroll;
}

/* ------------ Body ------------------ */ 
body {
font-family: roboto, verdana ,Tahoma , sans-serif;
margin: 0;
background-color: #ffffff;
font-weight: 300;
font-size: 1vh;
}

/* ------------ Navegacion slider ------------------ */ 
.respmenu{
  z-index: 100;
  max-width: 100vw;
  width: 100%;
  position: fixed;
  margin-top: -90px;
}

ul.navbar {
display: flex;
background-color:#292c2f;
margin: 0;
padding: 0;
}

ul {
list-style-type: none;
text-decoration:none;
margin: 0;
padding: 0;
text-align:center;
}


ul.navbar li:hover,
ul.navbar li:active
{background-color:#414a4c;}

.navbar .active {
  background-color:black;
  color: #ffffff;	
  }

  ul.navbar li {
    flex: 1;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    border: 2.4px solid #000000;
    font-family: roboto, verdana ,Tahoma , sans-serif;;
    background-color: black;
    }

ul li a {
display: block;
color: white;
text-align: center;
padding: 15px 5px;
text-decoration: none;
width:100%;
font-size: 1rem
}

ul.dropdown-content {
position: absolute;
display: none;
z-index: 1;
background-color: #292c2f;
}

ul.dropdown-content li {
width: 100%;
border: 0px solid black;
border-bottom: 2px solid #000000;
}

.dropdown:hover .dropdown-content {
display: block;
position: absolute;
width:100%;
}

/*------------------------------------------------------------------ */

/* ------------ Form Product ------------------ */ 
.control-formulario{
  padding: 10px 15px;
  display: inline-block;
  vertical-align: top;
  }
  
  .control-formulario label {
    margin: 1vw;
    font-style: italic;
    display: block;
    max-width: 250px;
  }
  
  .control {
    margin: 5px;
    padding: 8px;
    max-width: 30vw;
    font-size: 2em;
  }
  
  .control-product {
    display: block;
    padding: 20px 15px;
    position: relative;
    margin-bottom: 10vh;
    border: 1px solid #ebebeb;
    border-radius: 0%;
    background-color: #fff;
    padding: 5px;
    width: 90vw;
    position: relative;
    justify-content: space-between;
    /* display: inline-block; */
    align-content: center;
    left: 2vw;
    margin: 20px;
  }
/* ------------ Search ------------------ */ 

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
  margin: auto;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: white;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:rgba(255,255,255,.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:black ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

/* --------------------- Main ------------------ */
.main {  
  display: flex;
  flex-wrap: wrap;
  margin-top: 250px;
  }
  
  main section article i {
  display: block ;
  font-size: 16px ;
  padding: 5px ;
  width: 30px ;
  height: 30px ;
  border: 1px solid #39b54a ;
  background-color: #FFF ;
  border-radius: 50% ;
  position: absolute ;
  right: 20px ;
  top: -15px ;
  }
  
  
  h3 {
  font-family: 'Roboto', sans-serif;
  color: black;
  font-weight: 400;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
  }
  
  h4 {
  font-family: 'Roboto', sans-serif;
  color: #39b54a;
  font-weight: 400;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  }
  
  .articulos1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  margin: 0;
  padding:0;
  }
  
  
  .lv {
  border-top: 1px solid #ebebeb;
  border-radius: 0%;
  margin: 20px;
  background-color: #fff;
  padding: 15px 15px;
  /* max-width:45%;*/
  position: relative;
  justify-content: space-between;
  display: inline-block;
  align-content: center;
  /* left: 20px;*/
  
  }
  
  .lv1 {
  border-top: 1px solid #ebebeb ;
  border-radius: 0%;
  margin:0px 0px;
  padding: 10px 0px;
  background-color: #fff;
  /* max-width: 0px;*/
  position: relative;
  justify-content: space-between;
  transition: all 450ms;
  }
  
  .lv2{
  display:flex;
  }
  
  .lv:hover .description {
  display: block;
  box-shadow: ​0px​ ​0px​ ​10px​ ​rgb​(​100​, ​100​, ​100​);
  }
  
  .lv:hover .fa-truck{
  transform: rotate(360deg);
  animation-name: trans;
  animation-duration: 3s;
  }
  
  .lv:hover {
  box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.90);
  }
  
  .lv:hover {
  display: block;
  box-shadow: ​rgba​(​100​, ​100​, ​100, 0.5​);
  transition: all 0.5ms
  }
  
  .lv:hover div h3{
  opacity: 1;
  }
  
  .lv2{
  display:flex;
  }
  
  .price {
  display: block;
  font-size: 18px;
  width: 30%;
  margin-top: 5px;
  text-align: left
  }
  
  .discount {
  display: block;
  font-size: 16px;
  color: #39b54a;
  width: 70%;
  margin-top: 5px;
  text-align: center
  }
  
  .description {
  display: none;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  left: 0;
  width: 100%;
  transition: width 10s;
  }
  
  .description:hover {
  display: block;
  font-size: 0.75em
  }
  
  .fa-truck {
  padding: 5px 5px;
  color: #39b54a;
  border-style: #39b54a;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 1s;
  }
  
  .img-cat {
  width: 60vw;
  }
 

main {
padding:1vw
}


h2{
text-align: center;
border-bottom:solid black;
width: 100%; 
padding: 10px
}

article {
border-bottom: solid 1px grey;
width: 100%;
}

.cartProduct{
display:flex;
justify-content:start;
flex-wrap: wrap;
width: 100%;
padding: 5px;
box-sizing: border-box;
}

.cartProduct div{
margin: 10px
}


.imgProd{
width: 65px;
height: 65px;
}

.description{
text-align: justify;
}

.product{
font-weight: bold;
}

.detailPurchase{
display:flex;
justify-content:start;
flex-wrap: wrap;
width: 100%;
padding: 5px;
box-sizing: border-box;
}   


.detailPurchase div{
margin: 5px;
}    

.nameLabel{
font-weight: bold;
margin: 0px;
text-align: center;
}

.icon{
text-align: center;
}

.icon i{
color: #2B3A67;

}


.labelSections{
border-bottom:solid black;
margin: 10px 0px 25px 0px;
padding: 10px;
}


.textDelivery{ 
width: 100%;
}

.textDelivery{
font-style: italic;
}


.deliveryform{
margin: 20px;
flex-wrap: wrap;
}


.containerFormDelivery{
display: flex;
margin: 0px;
justify-content: space-evenly;
}


.containerFormDelivery label{
margin: 5px 0vw;
font-style: italic;
display: block;
font-weight: bold;
max-width: 250px;
}

.selected {
margin: 5px;
padding: 8px;
font-weight: bold;
max-width: 250px;
align-content: center;
}




.input-container {
margin-bottom: 20px;
font-size: 1.25em;
}


.input-container p,
.input-container label{
display: block;
font-size: 1.25em;
}

.input-container input,
.input-container textarea{
width: 100%;
font-size: 1.2em;
color: gray;
padding: 10px;
outline: none;
}

.input-container .label-inline{
display: inline;
}

.input-container select{
font-size: 1.25em;
}
.input-container input[type="checkbox"],
.input-container input[type="radio"]{
width: initial;
}

.input-container textarea{
height: 100px;
}

.input-container textarea:focus,
.input-container input:focus{
border: 3px solid orange;
}

.input-container label::before{
content: "";
width: 10px;
height: 10px;
display: block;
background: blue;
}


.buttonFormDelivery{
margin-right: 10px;
margin-left: 10px;
padding: 10px;
}


.container-options{
display: block
}


.delivery-option{
margin-bottom: 10px;
width: 100%;
}


.errorValidation{
display: none;
}

.container-options p{
font-style: italic;
padding-top: 30px;
}


.selected{
width: 200px;
opacity: 0.5;
}


.button{
background-color: #2B3A67;   
color: white
}

.Summary-Purchase{
display: block;
margin-bottom: 20px;
border: none;
}

.labelSummaryItem{
margin: 10px;
}

.labelSummaryTotal{
margin: 10px;
font-weight: bold;
}

.final-container{
display: flex;
justify-content: space-around;

}

.msg-error {
  display: block;
  font-size: 20px;
  color: red;
  width: 70%;
  margin-top: 5px;
  text-align: center
  }

/*----------------------Form---------------------------------------- */
a {
text-decoration: none;
color: #1ab188;
transition: .5s ease;
}

a :hover {
color: #1ab188, 5%;
}


.form {
background: rgba(#13232f, .9);
padding: 40px;
max-width: 600px;
margin: 40px auto;
border-radius: 4px;
box-shadow: 0 4px 10px 4px rgba(#13232f, .3);
}

.block-cart{
border: 1px solid #c5cbd5;
padding: 10px;
margin: 5vw auto;
transition-property: border,color,background-color;
max-width: 80vw;
}

.check {
font-size: 2em 
}

.tab-group {
list-style: none;
padding: 0;
margin: 0 0 40px 0;
}

.tab-group:after {
content: "";
display: table;
clear: both;
}

.header h1 {
    display: inherit;
    font-size: 4rem;
    font-family: roboto, verdana ,Tahoma , sans-serif;
    font-weight: bold;
    color: black;
  }
/*----------------------
label {
position: absolute;
transform: translateY(6px);
left: 13px;
color: rgba(#ffffff, .5);
transition: all 0.25s ease;
pointer-events: none;
font-size: 22px;
}
---------------------------------------- */

label.req {
margin: 2px;
color: #1ab188;
}

label.active {
transform: translateY(50px);
left: 2px;
font-size: 14px;
}
label.active .req {
opacity: 0;
}


label.highlight {
color: #ffffff;
}

input,
textarea {
font-size: 22px;
display: block;
width: 100%;
height: 100%;
padding: 5px 10px;
background: none;
background-image: none;
border: 1px solid #1ab188;
color: #1ab188;
border-radius: 0;
transition: border-color .25s ease, box-shadow .25s ease;
}

input,
textarea :focus {
outline: 0;
border-color: #1ab188;
}

textarea {
border: 2px solid #a0b3b0;
resize: vertical;
}

.field-wrap {
position: relative;
margin-bottom: 40px;
}

.top-row 
:after {
content: "";
display: table;
clear: both;
}
.top-row div {
float: left;
width: 48%;
margin-right: 4%;

}
.top-row div:last-child {
margin: 0;
}

.button {
border: 0;
outline: none;
border-radius: 4px;
padding: 5px;
margin:0px 10px;
font-size: 1rem;
font-weight: 500;
text-transform: uppercase;
letter-spacing: .1em;
background: #1ab188;
color: #ffffff;
transition: all .3s ease-out 0s;
}

.button:hover,
:focus {
background: #1ab188, 5%;
}
.button-block {
display: block;
width: 100%;
}

.forgot {
margin-top: -20px;
text-align: right;
}


/* ------------------------------------ Footer -----------------------------*/

.footer-container{
  background-color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font-family: roboto, verdana ,Tahoma , sans-serif;
  padding: 1vw;
  }
  
  .footer-container .footer-left,
  .footer-container .footer-center,
  .footer-container .footer-right{
  display: inline-block;
  vertical-align: top;
  }
  
  
  /* ------------ footer-left contenido ------------- */
  
  .footer-container h3{
  color:  #ffffff;
  font-family: roboto, verdana ,Tahoma , sans-serif;;
  margin: 0;
  }
  
  .footer-container h3 span{
  color:  #5383d3;
  }
  
  .footer-container .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
  }
  
  .footer-container .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
  font-size: 2em;
  }
  
  .footer-container .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  }
  
  /* -------------- Footer Center contentido--------------------- */
  
  .footer-container .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
  
  }
  
  .footer-container .footer-center i.fa-envelope{
  font-size: 2em;
  line-height: 38px;
  }
  
  .footer-container .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
  font-size: 2em
  }
  
  .footer-container .footer-center p span{
  display:block;
  font-weight: normal;
  font-size: 1em;
  line-height:2;
  }
  
  .footer-container .footer-center p a{
  color:  #5383d3;
  text-decoration: none;
  }
  
  
  /* ----------------------- Footer Right contentido---------------*/
  .footer-container .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  }
  
  .footer-container .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 20px;
  }
  
  .footer-container .footer-icons{
  margin-top: 25px;
  }
  
  .footer-container .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 2em;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
  }
  
  /* -------------------- Logo ------------------  */
  .logo { 
  font-size: 3rem;;
  color:#ffffff;}

  .img-logo {
    width: 50px;
    }

  .data span, .data a {
    text-transform: uppercase;
    color: grey;
    font-weight: 700;
  }

  /* media queries 360px wide */
@media (min-width: 360px) {
  .main, .navbar {   
  flex-direction: column;
  margin-left: 0;
  }


  .slide1, .slide2 {padding:6px;}


  .main .right-div,
  .main .left-div 
  {margin-left: 0;}
 
 
  ul.dropdown-content li {
  
  font-size:12px;
  }
  
  ul li a {
  padding: 15px 1px;
  font-size: 1rem
  }
  
  }

.lv {
width: 20%;
flex-wrap: nowrap;
}
  /* media queries 768px wide */
@media (min-width: 768px) {
.main, .navbar {   
flex-direction: row;
margin-left: 0;
}


.footer-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* align-items: baseline; */
  margin: 0;
  padding: 0;
}

.footer-container .footer-left, .footer-container .footer-center, .footer-container .footer-right {
    margin: 5px;
    background-color: black;
    padding: 5px 5px;
    max-width: 30vw;
    position: relative;
    justify-content: space-between;
    display: inline-block;
    align-content: center;
    left: 0px;
    color: #1259c3;
    font-size: 0.75em;
    margin-bottom: 10px;
    transition: 1s;
  }


img {
  width: 40vw;
  /* padding: 10px; */
  /* margin: 10px auto;*/
}

.container1{
  /* margin: auto; */
  /* background-color: lightsteelblue; */
  width: 40vw;
  /* padding: 1vw;*/
}

.container2{
  /* margin: auto; */
  /* background-color: lightsteelblue; */
  width: 40vw;
  /* padding: 1vw;*/
}

#myVideo {
  /* position: fixed; */
  right: 0;
  bottom: 0;
  max-width: 40vw;
  /* min-height: 100%; */
  padding: 5px;
  margin-top: 4vh;
}

ul.slider1{
  position: relative;
  width: 100%;
  height:25vw;
}

ul.slider2{
  position: relative;
  width: 100%;
  height:25vw;
}

.menu1 li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

.menu2 li a{
  display: inline-block;
  color: white;
  text-decoration: none;
  background-color: grey;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
}

#myVideo {
  /* position: fixed; */
  right: 0;
  bottom: 0;
  max-width: 40vw;
  /* min-height: 100%; */
  padding: 5px;
}


.slide1, .slide2 {padding:6px;}

.main .right-div,
.main .left-div 
{margin-left: 0;}

ul.dropdown-content li {

font-size:12px;
}



}

.block-form{
border: 1px solid #c5cbd5;
padding: 10px;
margin: 5px auto;
transition-property: border,color,background-color;
max-width: 50vw;
}

/* EXTRAS REVISAR */

* {box-sizing: border-box}
/* Full-width input fields */
input[type=text], input[type=password] {
    /* width: 100%;*/
padding: 15px;
/*margin: 5px 0 22px 0;*/
display: inline-block;
border: none;
background: #f1f1f1;
font-size: 2em
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
background-color: #ddd;
outline: none;
font-size: 2em
}

/* Set a style for all buttons */
button {
background-color: #04AA6D;
color: white;
padding: 10px;
    /* margin: 8px 0;*/
border: none;
cursor: pointer;

opacity: 0.9;
}

button:hover {
opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
padding: 14px 14px;
background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
width: 20vw;
font-size: 1.5em;
}

/* Add padding to container elements */
.container {
padding: 5vw;
}

/* Style the horizontal ruler */
hr {
border: 1px solid #f1f1f1;
margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
position: absolute;
right: 35px;
top: 15px;
font-size: 40px;
font-weight: bold;
color: #f1f1f1;
}

.close:hover,
.close:focus {
color: #f44336;
cursor: pointer;
}

/* Clear floats */
.clearfix::after {
content: "";
clear: both;
display: table;
}

@media (min-width: 1000px) {
  .header {
  
    padding: 5.5vh;
  
    }
  }
