* { 
    box-sizing: border-box;
    margin: 0px; 
    padding: 0px;}
   
    header {
      display: flex;
      border: dotted 2px red;
      background-color: #666666;
      }

    .main-header-top-bar {
      display: flex;
      justify-content: space-between;
      margin: auto;
    }
      
    body {
        border: dotted 2px blue;
        background-color: #fff;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 12px;
      }
      
    main {
          border: dotted 2px green;
          width: 90vw;
          margin: auto;
          padding-top: 20px;
      }

    marquee {
        color: #fff;
        font-family: 'Roboto', sans-serif; 
        font-size: 10px;
        font-weight: bold; 
        font-weight: 700; 
        display: block; 
        width: 100%;
        background-color: #666666;
      }

    .logo {
      display:block;
      width: 50px;
      margin: 0px; 
      padding: 0px;
      float: left;
    }    
    
    .fa-shopping-cart {
      color: #fff;
      display: flex;
      padding: 5px;
      margin: 0px; 
      padding: 0px;
    }





      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      revisar

      .flexsearch--wrapper {
        max-width: 300px;
        overflow: hidden;
        background: transparent;
        margin: 0;
        position: static;
    }
        
    .flexsearch--form {
        overflow: hidden;
        position: relative;
    }
        
    .flexsearch--input-wrapper {
        padding: 0 66px 0 0; /* Right padding for submit button width */
        overflow: hidden;
    }
    
    .flexsearch--input {
      width: 100%;
    }
    
    /***********************
     * Configurable Styles *
     ***********************/
    .flexsearch {
      padding: 0 25px 0 200px; /* Padding for other horizontal elements */
    }
    
    .flexsearch--input {
      -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
         height: 60px;
      padding: 0 46px 0 10px;
        border-color: #888;
      border-radius: 35px; /* (height/2) + border-width */
      border-style: solid;
        border-width: 5px;
      margin-top: 15px;
      color: #333;
      font-family: 'Helvetica', sans-serif;
        font-size: 26px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
        
    .flexsearch--submit {
      position: absolute;
        right: 0;
        top: 0;
        display: block;
        width: 60px;
        height: 60px;
      padding: 0;
      border: none;
        margin-top: 20px; /* margin-top + border-width */
      margin-right: 5px; /* border-width */
        background: transparent;
      color: #888;
      font-family: 'Helvetica', sans-serif;
      font-size: 40px;
      line-height: 60px;
    }
 
    .flexsearch--input:focus {
      outline: none;
      border-color: #333;
    }
    
    .flexsearch--input:focus.flexsearch--submit {
         color: #333; 
    }
    
    .flexsearch--submit:hover {
      color: #333;
      cursor: pointer;
    }
    
    ::-webkit-input-placeholder {
        color: #888;  
    }
    
    input:-moz-placeholder {
      color: #888
    }
    
    
    /****************
     * Pretify demo *
     ****************/
    .h1 {
      float: left;
      margin: 25px;
      color: #333;
      font-family: 'Helvetica', sans-serif;
      font-size: 45px;
      font-weight: bold;
      line-height: 45px;
      text-align: center;
    }
    