.header {
	text-align:center;
	padding: 10px;
    margin: 0px;
    background: #ffffff;
    color: #000000;	
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header img {
    max-width: 17vw;
}
.header h1 {
	font-size:4vw;
    font-family:'arizoniaregular', sans-serif;
    font-weight:bold;
    
}
.header p { 
     font-size:28 px;
     font-family:'arizoniaregular', sans-serif;
     letter-spacing:0.8em;
}



ul.navbar {
  display: flex;
  background-color:#292c2f;
}

ul {
  list-style-type: none;
  text-decoration:none;
  margin: 0;
  padding: 0;
  text-align:center;
}


ul.navbar li:hover,
ul.navbar li:active
  {background-color:#414a4c;}

 .navbar .active {
	background-color:#414a4c;
    color: #ffffff;	
}
 
ul.navbar li {
  flex: 1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  border: 2.4px solid #000000;
  font-family: verdana ,Tahoma , sans-serif;
  background-color: #292c2f;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 5px;
  text-decoration: none;
}

ul.dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
}

ul.dropdown-content li {
  width: 100%;
  border: 0px solid black;
  border-bottom: 2px solid #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  width:100%;
}







*{
    box-sizing: border-box; 
}

main{
    text-align: center;
}

.diversos-productos{
    width: 33%;
    display: inline-block;
}

.cuadro-producto,.cuadro-producto .imagen{
    position:relative
}

.cuadro-producto {
    text-align:center;
    border-radius:5px;
    border: 2px solid beige;
    z-index:1;
    display:inline-block;
    width: 400px;
    transition:all 0.7s;
}

.cuadro-producto:hover{
    box-shadow:grey;
}

.cuadro-producto .imagen a{
    display:inline-block;
}

.cuadro-producto .imagen img{
    width:100%;
    height:100%;

}


.cuadro-producto:hover .img1{
    opacity:0.9
}


.cuadro-producto .producto{
    padding:30px
}

.cuadro-producto .titulo{
    font-size:15px;
    font-weight:400;
    text-transform:capitalize;
    margin:0 0 7px;
    transition:all 0.7s;
}

.cuadro-producto .titulo a{
    color:rgb(7, 4, 4);
}

.cuadro-producto .titulo a:hover{
    color:#16a085
}

.cuadro-producto .precio{
    color:#040706;
    font-size: 19px;
    margin:0 2px 15px 0;
    display:block;
}

.cuadro-producto .add-carrito{
    border:1px solid #2c2a2a;
    display:inline-block;
    padding:10px 20px;
    color:rgb(250, 241, 241);
    font-size:10px;
    border-radius: 5px;
    transition:all 0.5s;
}

.cuadro-producto:hover .add-carrito{
    border:1px solid transparent;
    background:#140504;
    color:rgb(230, 223, 223);
}

.cuadro-producto .add-carrito:hover{
    background-color:#505050;
    box-shadow:0 0 10px rgba(0,0,0,.5)
}



.footer-container{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 45px 40px;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-container .footer-left{
	width: 40%;
}

.footer-container .footer-center{
	width: 35%;
}

.footer-container .footer-right{
	width: 20%;
}



.footer-container h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-container h3 span{
	color:  #5383d3;
}

.footer-container .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-container .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-container .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-container .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-container .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-container .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-container .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-container .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


.footer-container .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-container .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-container .footer-icons{
	margin-top: 25px;
}

.footer-container .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media screen and (max-width: 700px) {
.main, .navbar {   
    flex-direction: column;
	margin-left: 0;
}

.slide1, .slide2 {padding:6px;}


.main .right-div,
.main .left-div 
{margin-left: 0;}

.line1 {font-size:18px;}

.line2 {font-size:12px;}

.line3 {font-size:10px;}

.footer-container{font: bold 14px sans-serif;}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right{
	display: block;
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	}

.footer-container .footer-center i{
	margin-left: 0;
}
 .left-div,
 .right-div {
    max-width: 100%;
    width: 100%;
    display: block;
  }
ul.dropdown-content li {
	font-size:12px;
}

ul li a {
  padding: 15px 1px;
}

}

.logo { font-size:18px;
	color:#ffffff;}
