* {
    box-sizing: border-box;
	-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

/* ------------ Body ------------------ */ 
body {
font-family: verdana ,Tahoma , sans-serif;
margin: 0;
background-color: #EBEBEB;
font-family: 'Roboto', sans-serif;
font-weight: 300;
font-size: 12px;
}


/* ------------ Header------------------ */

.header {
	text-align:center;
	padding: 10px;
    background: #ffffff;
    color: #000000;	
}

.header h1 {
	font-size:34px;
    font-family:'arizoniaregular', sans-serif;
    font-weight:bold;
}
.header p { 
     font-size:3vw;
     font-family:'arizoniaregular', sans-serif;
     letter-spacing:0.8em;
}


/* ------------ Navegacion slider ------------------ */ 
ul.navbar {
  display: flex;
  background-color:#292c2f;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  text-decoration:none;
  margin: 0;
  padding: 0;
  text-align:center;
}


ul.navbar li:hover,
ul.navbar li:active
  {background-color:#414a4c;}

 .navbar .active {
	background-color:#414a4c;
    color: #ffffff;	
}
 
ul.navbar li {
  flex: 1;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  border: 2.4px solid #000000;
  font-family: verdana ,Tahoma , sans-serif;
  background-color: #292c2f;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 5px;
  text-decoration: none;
}

ul.dropdown-content {
  position: absolute;
  display: none;
  z-index: 1;
}

ul.dropdown-content li {
  width: 100%;
  border: 0px solid black;
  border-bottom: 2px solid #000000;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  width:100%;
}
/*------------------------------------------------------------------ */
  

main {
    text-align: center;
}

.main {  
display: flex;
display: block;
flex-wrap: wrap;
font-size: 0.75em
}

.articulos1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding:0;
  }


  .articulos2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 0;
    padding:0;
  }
  
  .lv {
    border-top: 1px solid #ebebeb;
    border-radius: 0%;
    margin: 5px;
    background-color: #fff;
    padding: 15px 15px;
    max-width: 250px;
    position: relative;
    justify-content: space-between;
    display: inline-block;
    align-content: center;
    /* left: 20px;*/
    
    }
  
  .lv1 {
      border-top: 1px solid #ebebeb ;
      border-radius: 0%;
      margin:0px 0px;
      padding: 10px 0px;
      background-color: #fff;
      max-width: 300px;
      position: relative;
      justify-content: space-between;
      transition: all 450ms;
    }


    h5 {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
        font-size: 12px;
        text-align: center;
    }
    
    h3 {
        font-family: 'Roboto', sans-serif;
        color: grey;
        font-weight: 400;
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        margin-left: 10px;
        margin-top: 10px;
    }
    
    h2 {
      display: block;
      font-size: 12px;
      text-align: center;
      width: 250px;
      margin: 0;
      padding: 0;
     }
     .lv:hover .description {
        display: block;
        box-shadow: ​0px​ ​0px​ ​10px​ ​rgb​(​100​, ​100​, ​100​);
      }
      
      .lv:hover .fa-truck{
        transform: rotate(360deg);
        animation-name: trans;
        animation-duration: 3s;
      }
      
      .lv:hover {
        box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.90);
      }
        
      .lv:hover {
        display: block;
        box-shadow: ​rgba​(​100​, ​100​, ​100, 0.5​);
        transition: all 0.5ms
      }
      
      .lv:hover div h3{
        opacity: 1;
      }
      
      .lv2{
        display:flex;
      }
      
      .price {
        display: block;
        font-size: 18px;
        width: 30%;
        margin-top: 5px;
        text-align: left
          }
      
      .discount {
        display: block;
        font-size: 16px;
        color: #39b54a;
        width: 70%;
        margin-top: 5px;
        text-align: center
          }
      
      .description {
        display: none;
        font-size: 16px;
        margin: 0px;
        padding: 0px;
        left: 0;
        width: 100%;
        transition: width 10s;
      }

      .description:hover {
        display: block;
        font-size: 0.75em
      }

      
main section article i {
    display: block ;
    font-size: 16px ;
    padding: 5px ;
    width: 30px ;
    height: 30px ;
    border: 1px solid #39b54a ;
    background-color: #FFF ;
    border-radius: 50% ;
    position: absolute ;
    right: 20px ;
    top: -15px ;
    }

.fa-truck {
  padding: 5px 5px;
  color: #39b54a;
  border-style: #39b54a;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: 1s;
  }

/* ------------------------------------ Footer -----------------------------*/

.footer-container{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 45px 40px;
}

.footer-container .footer-left,
.footer-container .footer-center,
.footer-container .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* ----------------- Footer caja width ( left center right ) ------------------ */

.footer-container .footer-left{
	width: 40%;
}

.footer-container .footer-center{
	width: 35%;
}

.footer-container .footer-right{
	width: 20%;
}



/* ------------ footer-left contenido ------------- */

.footer-container h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-container h3 span{
	color:  #5383d3;
}

.footer-container .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-container .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-container .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* -------------- Footer Center contentido--------------------- */



.footer-container .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-container .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-container .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-container .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-container .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}



/* ----------------------- Footer Right contentido---------------*/



.footer-container .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-container .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-container .footer-icons{
	margin-top: 25px;
}

.footer-container .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* media queries 360px wide */
@media (min-width: 360px) {
    .main, .navbar {   
        flex-direction: column;
        margin-left: 0;
    }
   
    .price, .discount {
        font-size: 4em;
      }
      
      .price {
        text-align: left;
      }
        
      .discount {
        text-align: center;
      }
      
      
      .lv2 {
        font-size: 0.25em;
      }
      
      .articulos1 {
        justify-content: space-between;
        margin: auto;
      }
      
      .articulos2 {
        justify-content: space-between;
        margin: auto;
      }
    
    .footer-container{font: bold 14px sans-serif;}
    
    .footer-container .footer-left,
    .footer-container .footer-center,
    .footer-container .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
        }
    
    .footer-container .footer-center i{
        margin-left: 0;
    }
 
    ul.dropdown-content li {
        font-size:12px;
    }
    
    ul li a {
      padding: 15px 1px;
    }
        img {
            width: 75vw;
        }
    }
    
    /* media queries 700px wide */
    @media (min-width: 700px) {

        .lv {
            width: 45%;
            flex-wrap: nowrap;
          }


        img {
            width: 60vw;
        }
    
        .main, .navbar {   
            flex-direction: row;
            margin-left: 0;
    }
    
    }

