<!DOCTYPE html>
<html lang="en">
 <!-- Head -->
<%- include ("partials/head") %> 

<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/normalize.css">
<body>
<!-- Header -->
<%- include ("partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("partials/nav") %> 

  <!-- Contenido slider -->
<main>
  <div class="main">
    <section class="slide1">
          <article class="left-div">
              <div>
              <img src="/img/00_Home.jpg" alt="Foto Fashion temporada">
              </div>
          </article>
          <article class="right-div">
            <p class="line1"> SUMMER </p>
            <P class="line2">Beat the Summer with Style</p>
            <hr>
            <p class="line3"><a href="/productDetail"> SHOP GIRL </a></p>
          </article>
    </section>

    <section class="slide2">
      <article class="rigth-div">
          <div>
          <img src="/img/pexels-rfstudio-3811981.jpg" alt="Foto Fashion temporada">
          </div>
      </article>
      <article class="left-div">
        <p class="line1"> CLASSICS </p>
        <P class="line2"> Old School Vibe </p>
        <hr>
        <p class="line3"><a href="/productDetail"> SHOP GIRL </a></p>
      </article>
    </section>
</main>

 <!-- Footer -->
 <%- include ("partials/footer") %>
</body> 
</html>