<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ("partials/head") %> 

<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/normalize.css">
<body>
<!-- Header -->
<%- include ("partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("partials/nav") %> 
<div class="body">
        <div class="block-form">
                  <h2>Log in</h2>
          <form action="login-user" method="GET" class="login-user">
              <div class="imgcontainer">
                  <img src="/img/img_avatar2.png" alt="Avatar" class="avatar">
              </div> 
              <div class="control-user">
                  <div class="control-form-login">
                      <label for="user"></label>
                      <input type="text" name="usuario" placeholder="User" class="control-login" required>
                  </div>
                  <div class="control-form-login">
                      <label for="password"></label>
                      <input type="password" name="password" placeholder="Password" id="password" required />
                  </div>
                  <label for="category"></label>
                    <ul class="intereses">
                      <li type="none" class="check"><input type="checkbox" name="remember" id="remember" value="remember" required />  Remember me</li>

                  <button type="submit" class="button">SIGN IN</button>
                  </div>
                  <div class="container" style="background-color:#f1f1f1">
                    <button type="button" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                  </div>
          </form>
</div>
 <!-- Footer -->
 <%- include ("partials/footer") %>
</body> 
</html>