<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="/css/loginregistro.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">  
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Una marca vanguardista para mujeres modernas con estilo propio. Brand-You adapta tendencias multiculturales y las fusiona creando un estilo único. Encontrá nuestra Colección en nuestro shop online.">
    <title>BrandYou - Home</title>
</head>
<div class="header">
    <h1>Brand You</h1>
    <p>NEW VIBES.STYLE.TRENDY</p>
    
 </div>
  

<div class="form">
  <h1>Sign Up</h1>
    <ul class="tab-group">
      <div class="field-wrap">
        <label>
          User<span class="req">*</span>
        </label>
        <input type="text" required autocomplete="off" />
      </div>
      <div class="field-wrap">
        <label>
         Password<span class="req">*</span>
        </label>
        <input type="password"required autocomplete="off"/>
      </div>
      <button type="submit" class="button button-block">Log In</button>
    </ul>
    
    <div class="tab-content">
      <div id="signup">   
        <h1>Register</h1>
        
        <form action="/" method="post">
        
        <div >
          <div class="field-wrap">
            <label>
              Name<span class="req">*</span>
            </label>
            <input type="text" required autocomplete="off" />
          </div>
      
          <div class="field-wrap">
            <label>
              Surname<span class="req">*</span>
            </label>
            <input type="text"required autocomplete="off"/>
          </div>
        </div>

        <div class="field-wrap">
          <label>
            Email<span class="req">*</span>
          </label>
          <input type="email"required autocomplete="off"/>
        </div>
        
        <div class="field-wrap">
          <label>
           New Password<span class="req">*</span>
          </label>
          <input type="password"required autocomplete="off"/>
        </div>
        
        <button type="submit" class="button button-block">Sign Up</button>
        
        </form>

      </div>
      
      <div id="login">   
        <h1>Welcome!</h1>
        
        <form action="/" method="post">
        
          <div class="field-wrap">
          <label>
            Email<span class="req">*</span>
          </label>
          <input type="email"required autocomplete="off"/>
        </div>
        
        <div class="field-wrap">
          <label>
            Password<span class="req">*</span>
          </label>
          <input type="password"required autocomplete="off"/>
        </div>
        
        <div>
        <p class="forgot"><a href="#">Forgot Password</a></p>
        
        <button class="button button-block"/>Log In</button>
      </div>
        </form>

      </div>
      
    </div>
    
</div> 

<footer class="footer-container">
    <div class="footer-left">
    <span class="logo">Brand You</span>
    <p class="footer-links">
    <a href="#">Home</a> &nbsp;
    <a href="#">Blog</a> &nbsp;
    <a href="#">Online Support</a>	&nbsp;
    <a href="#">FAQ</a> 
    </p>
    <p class="footer-company-name">Brand You &copy; 2021</p>
    </div>
    <div class="footer-center">
    <div>
    <i class="fa fa-map-marker"></i>
    <p><span>Direction</span> BA, Arg</p>
    </div>
    <div>
    <i class="fa fa-phone"></i>
    <p>Phone</p>
    </div>
    <div>
    <i class="fa fa-envelope"></i>
    <p><a href="mailto:support@company.com">support@Brand-You.com</a></p>
    </div>
    </div>
<div class="footer-right">
    <p class="footer-company-about">
    <span>About the company</span>
    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
    </p>
<div class="footer-icons">
  <a href="#"><i class="fab fa-facebook"></i></a>
  <a href="#"><i class="fab fa-instagram"></i></a>
  <a href="#"><i class="fab fa-whatsapp"></i></a>
    </div>
    </div>
</footer>