<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include ("partials/head") %> 

<link rel="stylesheet" href="/css/register.css">

<body>
<!-- Header -->
<%- include ("partials/header") %> 
  
  <!-- Barra Navegacion -->
<%- include("partials/nav") %> 
<div class="body">
        <div class="block-form">
          <h2>Register</h2>
          <form action="alta usuario" method="GET" class="create-user"> 
            <div class="control-user">
                <div class="control-formulario">
                    <label></label>
                    <input type="text" name="name-lastname" placeholder="Name and Lastname" class="control">
                </div>
                <div class="control-formulario">
                    <label></label>
                    <input type="text" name="usuario" placeholder="User" class="control">
                </div>
                <div class="control-formulario">
                    <label></label>
                    <input type="date" name="birth-date" placeholder="date of birth" class="control">
                </div>
                <div class="control-formulario">
                    <label></label>
                    <input type="text" name="address" placeholder="address" class="control">
                </div>
                <div class="control-formulario">
                    <label for="password"></label>
                    <input type="password" name="password" placeholder="password" id="password" required />
                </div>
                <div class="control-formulario">
                    <label for="confirm-password"></label>
                    <input type="password" name="confirm-password" placeholder="confirm-password" id="password" required />
                </div>
                <div>
                    <button type="reset" class="button-reset">RESET</button>
                    
                    <button type="submit" class="button-submit">SUBMIT</button>
                </div>
            </div>
          </form>
        </div>
 <!-- Footer -->
 <%- include ("partials/footer") %>
</body> 
</html>