<div class="header">
    <div>
      <img class="img-logo"src="/img/Logo-Brand-You-New.png" alt="Logo Brand You">
    </div>
    <a class="site-logo" href="/" title="Logo BrandYou" target="_self">
      <h1>Brand you</h1>
    </a>      
   <!-- <p>NEW VIBES.STYLE.TRENDY</p> 
   --> 
</div>