<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <ul class="navbar">
        <li><a href="/">Home  <i class="fas fa-home"></i></a></li>
        <li class="dropdown">
        <a href="#">Collection <i class="far fa-arrow-alt-circle-down"></i></a>
        <ul class="dropdown-content">
          <li><a href="/products/catalogue">Summer <i class="fas fa-umbrella-beach"></i></a></li>
          <li><a href="/products/catalogue">Winter <i class="far fa-snowflake"></i></a></li>
          <li><a href="/products/catalogue">Clothing deals <i class="far fa-handshake"></i></a></li> 
          <li><a href="/products/create">Product New</a></li>
        </ul>	 
        </li>
        <li><a href="/products/catalogue">Catalogue <i class="fas fa-book"></i> </a></li>
        <li class="dropdown">
          <a href="#"> User  <i class="fas fa-user"></i></a>
          <ul class="dropdown-content">
            <div class="session-nav">
              <% if (locals.logged) { %>
                 <%- include('nav-auth') %> 
              <% } else {%>
                 <%- include('nav-guest') %> 
             <% }%>
            </div>
          </ul>	 
          </li>
        <li type="none"><a href="/products/cart" style="text-decoration:none"> My shopping <i class="fas fa-shopping-basket"></i> </a> </li>
        <li type="none">
          <div class="search-box">
            <form action="/products/catalogue">
              <button class="btn-search"><i class="fas fa-search"></i></button>
              <input type="text" name="text" class="input-search" placeholder="Type to Search...">
            </form>
          </div>
        </li>
      </ul>
    </ul>
  </nav>
</div>
