<div class="respmenu">
  <input type="checkbox">
  <i class="fas fa-bars"></i>
  <i class="fas fa-times"></i>
  <nav>
    <ul>
      <ul class="navbar">
        <li><a href="/">Home</a></li>
        <li class="dropdown">
        <a href="#">Collection</a>
        <ul class="dropdown-content">
          <li><a href="/products/catalogue">Summer</a></li>
          <li><a href="/products/catalogue">Winter</a></li>
          <li><a href="/products/catalogue">Clothing deals</a></li> 
          <li><a href="/products/productNew">Product New</a></li>
          <li><a href="/products/productDetail">Product Detail</a></li>
          <li><a href="/products/productEdit">Product Edit</a></li> 
        </ul>	
        </li>
        <li><a href="/products/catalogue"> Catalogue </a></li>
        <li><a href="/register"> Register </a></li>
        <li><a href="/login"> Login </a></li>
        <li type="none"><a href="/products/cart" style="text-decoration:none"> My shopping <i class="fas fa-shopping-basket"></i> </a> </li>
        <li type="none">
          <div class="search-box">
            <button class="btn-search"><i class="fas fa-search"></i></button>
            <input type="text" class="input-search" placeholder="Type to Search...">
          </div>
        </li>
      </ul>
    </ul>
  </nav>
</div>