<nav>
    <ul class="navbar">
      <li><a href="#" class="active">Home</a></li>
      <li class="dropdown">
      <a href="#">Collection</a>
      <ul class="dropdown-content">
        <li><a href="/products/catalogue">Summer</a></li>
        <li><a href="/products/catalogue">Winter</a></li>
        <li><a href="/products/catalogue">Clothing deals</a></li> 
      </ul>	
      </li>
      <li><a href="/products/catalogue"> Catalogue </a></li>
      <li><a href="/register"> Register </a></li>
      <li><a href="/login"> Login </a></li>
      <li type="none"><a href="/products/cart" style="text-decoration:none"> My shopping <i class="fas fa-shopping-basket"></i> </a> </li>
    </ul>
</nav>
